*, *::before, *::after {
    box-sizing: border-box;
  }

  /* Removes padding and margin from all default styling
  i.e. blank slate */
* {
margin: 0;
padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Verdana';
    font-weight: 400;
}

a {
    text-decoration: none;
}
/*#region NAVIGATION */
.header__section{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7%;
}

.navigation__wordmark{
    color: #335576    
}

.navigation__nav-bar{
    
}

.navigation__ulist{
    display: flex;
    list-style-type: none;
}

.navigation__ulist-item{
    margin: 0 10px;
    padding: 10px 0;
    border-bottom: solid #DB7A4E;
}
/* #endregion */

/* region FOOTER */
.footer__section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 20px;
    background-color: #FEFAF5;
}

.footer__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__info-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__info-details-container{
    margin-right: 30px;
}

.footer__container-title{
    margin: 20px 0;
    color: #335576;
}

.footer__p{
    color: #335576;
}

.footer__p--subtitle{
    color: #DB7A4E;
    margin: 10px 0;
    font-size: x-small;
}

.footer__icon{
    display: inline-block;
    margin-right: 20px;
    height: 25px;
}


/* #endregion */