.hero__section{
    display: flex;
    justify-content: space-evenly;
    background-color: #FEFAF5;
    flex-wrap: wrap-reverse;
    padding: 4.375rem 0;
}

.hero__left-container{
    display: flex;
    flex-direction: column;
    width: 36.25rem;  
}

.hero__slogan-tagline{
    color: #335576;
    font-size: 2.375rem;
    margin: 1.3rem 0;
}

.hero__slogan-description{
    color: #335576;
    font-size: 0.938rem;
    margin: 1.3rem 0;
}

.hero__right-container{
    display: flex;
    justify-content: center;
    width: 26.875rem;
}

.hero__image{

    width: 26.875rem;
}
.recommendations__section{
    display: flex;
    flex-direction: column;
    padding: 3.125rem 5.625rem;
}
.recommendations__title{
    color: #335576;
}

.card__recommendation-hawaii{
    height: 100%;
    width: 100%;
    background-image: url(/assets/images/hawaii.jpg);
    background-size: cover;
    border-radius: inherit;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.card__recommendation-iceland{
    height: 100%;
    width: 100%;
    background-image: url(/assets/images/iceland.jpg);
    background-size: cover;
    border-radius: inherit;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.card__recommendation-greece{
    height: 100%;
    width: 100%;
    background-image: url(/assets/images/greece.jpg);
    background-size: cover;
    border-radius: inherit;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.card__recommendation-hawaii:hover, .card__recommendation-iceland:hover, .card__recommendation-greece:hover{
    border:#DB7A4E 0.313rem solid;
}

.card__recommendation-text{
    color: white;
    margin: 1.3rem;
}